.header-logo,
.banner-img,
.about h2,
.about p,
.skill-section {
    margin-left: 70px;
}

.header-logo {
    display: inline-block;
    background-color: black;
    margin-right: 12px;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 40px;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    font-weight: 600;
}

.social {
    display: flex;
    gap: 10px;
    width: 100px;
    height: 40px;
    margin-left: 1100px;
}

.social a {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    color: white;
    background: #F26464;
    font-size: 20px;
}

.social a:hover {
    color: white;
    background: black;
}

.banner-img {
    display: inline-block;
    margin-top: 40px;
    margin-right: 50px;
}

.banner-info {
    display: inline-block;
}

h1 {
    margin-top: 20px;
    font-size: 60px;
}

.hi-there {
    font-size: 18px;
}

.valulist {
    display: inline-block;
    margin: 20px;
}

.valulist p {
    color: #F26464;
    margin: 0px;
    padding: 0px;
    font-size: 36px;
    font-weight: 800;
}

.valulist span {
    letter-spacing: 1px;
    font-size: 20px;
}

h2 {
    display: inline-block;
    font-weight: 700;
    color: black;
    letter-spacing: 1px;
    font-size: 16px;
    border-bottom: 3px solid #F26464;
    padding-bottom: 7px;
    margin-bottom: 23px;
    margin-top: 23px;
}

.about p {
    color: #373737;
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 60px;
}

.button {
    margin: auto;
    width: 15%;
    border: 2px solid #F26464;
    padding: 17px 30px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #F26464;
    text-align: center;
    margin-bottom: 40px;
    border-radius: 60px;
}

.button:hover {
    color: white;
    background-color: #F26464;
}

.skill-section {
    display: inline-block;
}

.skill {
    display: inline-block;
    text-align: center;
}

.skill-item {
    display: inline-block;
    margin: 10px;
    margin-right: 15px;
    background: white;
    color: black;
    border: 1px solid #D7D7D7;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 27px;
}