body
{
  font-family: 'Raleway', Arial, sans-serif;
  background-color: #2f3238;
  color: white;
  font-weight: 400;
  font-size: 1em;
  display: block;
}

.container
{
  margin-left: 40px;
  margin-top: 40px;
}

.image-container-lily, .image-container-sadie, .image-container-layla
{
  display: block;
}

/* lily */
.image-container-lily
{
  width: 480px;
  overflow: hidden;
  transition: filter 0.5s ease-in-out;
}

.image-container-lily img 
{
  width: 520px;
  transform: translateX(-40px);
  filter: brightness(70%);
  transition: filter 0.5s ease-out; 
}

.image-container-lily:hover img 
{
  transform: translateX(0px);
  filter: brightness(100%); 
}

.lily
{
  color: white;
  position: relative;
  margin-left: 40px;
  transform: translateY(-150px); 
  transition: transform 0.3s linear;
}

.image-container-lily:hover .lily 
{
  transform: translateY(-180px); 
}

.lily h2 span
{
  font-weight: 100;
}

.lily p 
{
  opacity: 0; 
  font-size: 68.5%;
  letter-spacing: 1px;
  transition: opacity 0.5s ease; 
}

.image-container-lily:hover .lily p 
{
  opacity: 1; 
}
/* lily */

/* sadie */
.image-container-sadie
{
  width: 480px;
}
.image-container-sadie img
{
  filter: brightness(100%);
  transition: filter 0.5s ease-in;
}
.image-container-sadie:hover img
{
  filter: brightness(70%);
}
.sadie
{
  transform: translateY(-250px);
  color: #484c61;
  text-align: center;
}
.image-container-sadie:hover .sadie
{
  transform: translateY(-300px); 
  color: white;
}


.sadie h2 span
{
  font-weight: 100;
}

.sadie p 
{
  transform: translateY(150px);
  opacity: 0; 
  transition: opacity 0.5s ease-in; 
}

.image-container-sadie:hover .sadie p 
{
  opacity: 1; 
  color: white;
}
/* sadie */

/* layla */
.image-container-layla
{
  width: 480px;
}

.image-container-layla img 
{
  filter: brightness(100%);
  transition: filter 0.3s ease; 
}

.image-container-layla:hover img 
{
  filter: brightness(75%); 
}

.layla
{
  transform: translateY(-250px);
  text-align: center;
  color: white;
  transition: transform 0.4s ease-in;
}

.image-container-layla:hover .layla
{
  transform: translateY(-240px); 
  margin-left: 40px;
  margin-right: 40px;
  padding: 30px 30px 30px;
  width: 70%;
  height: 80%;
  border: 2px solid white;
}

.layla h2 span
{
  font-weight: 100;
}

.layla p 
{
  text-align: center;
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.image-container-layla:hover .layla p 
{
  opacity: 1; 
}
/* layla */