* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100%;
}

.Sorange {
    height: 350px;
    z-index: -100;
    transform: translate(440%, -30%);
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 960px;
    height: 600px;
    box-shadow: 0px 1px 13px 0px #0000002E;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.image-container {
    padding: 0 70px;
    transform: translate(-50%, -100%);
    max-width: 50%;
}

.image-container svg {
    transform: translate(80%, 120%);
}

.image-grid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 10px;
    height: 10px;
    filter: brightness(40%);
}

.image-grid img {
    width: 150px;
    height: 90px;
}

.form_box {
    padding: 50px 60px 70px;
    transform: translateX(10%);
}

.input {
    margin: 20px 0;
}

.input_box {
    margin: 20px 0px;
}

input[type="text"] {
    width: 100%;
    padding: 3px 4px;
    margin: 5px 0;
}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 12px;
}

.btn-field button:active {
    text-decoration: underline;
}

.btn-field button {
    flex-basis: 48%;
    height: 40px;
    border: 0;
    /* background: #fff; */
}

.checkbox-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 12px 0;
}

#logcheck {
    margin-right: 8px;
}

#log {
    background: #11698E;
    border-radius: 41px;
    padding: 1px 95px;
    color: #fff;
    letter-spacing: 2px;
}

#log:hover {
    background-color: #fff;
    color: #11698E;
    border: 1px solid #11698E;
}

.Sblue {
    transform: translateY(100%);
    height: 350px;
    z-index: -100;
}